extends layout

block content
  h1= title
  p The Trading Robot contains three functional aspects:
  p (1) Backtesting on a historical dataset,
  p (2) Simulated trading on a live data feed,
  p (3) Real Trading on a live data feed.