doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    <script src="/javascripts/jquery-3.2.1.slim.min.js"></script>
    <script src="/javascripts/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>
  body

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Trading Robot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
    <li id="home" class="nav-item active">
    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="tradeRulesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Trade Rules</a>
    <div class="dropdown-menu" aria-labelledby="dropdown01">
    <a class="dropdown-item" href="/tradeRules/activeRule">Currently active Rule</a>
    </div>
    </li>
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="backtestingDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Backtesting</a>
    <div class="dropdown-menu" aria-labelledby="dropdown01">
    <a class="dropdown-item" href="/backtesting/loadTradeTableFromCSV">Load TradeTable from CSV</a>
    <a class="dropdown-item" href="/backtesting/loadTradeTableFromGDAX_API">Load TradeTable from GDAX_API</a>
    <a class="dropdown-item" href="/backtesting/showTradeTable">Show TradeTable</a>
    <a class="dropdown-item" href="/backtesting/runBacktesting">Trade TradeTable</a>
    <a class="dropdown-item" href="/backtesting/showVisualAnalysis">Show Visual Trading Analysis</a>
    </div>
    </li>
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="simulatedTradingDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Simulated Trading</a>
    <div class="dropdown-menu" aria-labelledby="dropdown01">
    <a class="dropdown-item" href="#">TradeTable</a>
    <a class="dropdown-item" href="#">Trading</a>
    <a class="dropdown-item" href="#">Visual Analysis</a>
    </div>
    </li>
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="realTradingDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Real Trading</a>
    <div class="dropdown-menu" aria-labelledby="dropdown01">
    <a class="dropdown-item" href="#">TradeTable</a>
    <a class="dropdown-item" href="#">Trading</a>
    <a class="dropdown-item" href="#">Visual Analysis</a>
    </div>
    </li>
    </ul>
    </div>
    </nav>
    <br>
    <br>
    <br>

    block content
