extends ../layout 

html
  head
  body
    block content
      .container
        form.form-signin(action="/login", method="post" valign="center" align ="center")
          h2.form-signin-heading Please sign in
          <br/>
          input.input-block-level(type="text", name="username", placeholder="Email address")
          <br/>
          input.input-block-level(type="password", name="password", placeholder="Password")
          <br/><br/>
          button.btn.btn-large.btn-primary(type="submit") Sign in
          <br/>
          p #{Status}