extends ../layout 

block content

  script.

      $("#home").attr('class', 'nav-item');
      $("#tradeRulesDropdown").attr('class', 'nav-link dropdown-toggle');
      $("#backtestingDropdown").attr('class', 'nav-link dropdown-toggle active');
      $("#simulatedTradingDropdown").attr('class', 'nav-link dropdown-toggle');
      $("#realTradingDropdown").attr('class', 'nav-link dropdown-toggle');

  p <b>Status:</b> #{Status}
  

  

